name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'
        type: choice
        options:
          - info
          - warning
          - debug
      tags:
        description: 'Test scenario tags'
        required: false
        default: ''
        type: string
      testEnv:
        description: 'Environment to run tests against'
        required: true
        default: 'production'
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Show Inputs
        run: |
          echo "LogLevel: ${{ github.event.inputs.logLevel }}"
          echo "Tags: ${{ github.event.inputs.tags }}"
          echo "TestEnv: ${{ github.event.inputs.testEnv }}"

      - name: Log in to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker image tags
        id: meta
        run: |
          IMAGE_NAME="${{ secrets.DOCKERHUB_USERNAME }}/cosmos-predict-2.5"
          GIT_SHA="${{ github.sha }}"
          TAG="latest"
          echo "image_name=$IMAGE_NAME" >> "$GITHUB_OUTPUT"
          echo "tag_sha=$GIT_SHA" >> "$GITHUB_OUTPUT"
          echo "tag_latest=$TAG" >> "$GITHUB_OUTPUT"

      - name: Build the Docker image
        run: |
          docker build --ulimit nofile=131071:131071 -f Dockerfile . -t ${{ steps.meta.outputs.image_name }}:${{ steps.meta.outputs.tag_latest }} -t ${{ steps.meta.outputs.image_name }}:${{ steps.meta.outputs.tag_sha }}

      - name: Push Docker image (latest and SHA)
        run: |
          docker push ${{ steps.meta.outputs.image_name }}:${{ steps.meta.outputs.tag_latest }}
          docker push ${{ steps.meta.outputs.image_name }}:${{ steps.meta.outputs.tag_sha }}
